.main {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 20px 0;
}

.title_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.title_wrapper h3 {
    font-size: 26px;
}

.accent_span {
    color: gray;
}