.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px 0;
}

.title_card_wrapper {
    width: 80%;
}

.cards_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards_wrapper .card:not(:last-child) {
    border-bottom: 1px solid var(--accent-color-gray)
}